{% include motionsplan/adsense.html %}
{% include head/favicon.html %}

<meta name="facebook-domain-verification" content="d4r75i83rydhrm07zl4uyloeeulq4m" />

{% if page.sitemap == false or page.robots %}
  <meta name="robots" content="{{ page.robots | default: "noindex" }}">
{% endif %}

<script>
  (function (s, e, n, d, er) {
    s['Sender'] = er;
    s[er] = s[er] || function () {
      (s[er].q = s[er].q || []).push(arguments)
    }, s[er].l = 1 * new Date();
    var a = e.createElement(n),
        m = e.getElementsByTagName(n)[0];
    a.async = 1;
    a.src = d;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
  sender('b7b3f25e1d2425')
</script>
