<table>
    <thead>
      <tr>
        <th></th>
        <th>Massefylde</th>
        <th>1 liter vejer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fedt</td>
        <td>0,940 g / cm<sup>3</sup></td>
        <td>0,90 kg</td>
      </tr>
      <tr>
        <td>Muskel</td>
        <td>1,050 g / cm<sup>3</sup></td>
        <td>1,06 kg</td>
      </tr>
      <tr>
        <td>Knogler</td>
        <td>1,850 g / cm<sup>3</sup></td>
        <td>1,85 kg</td>
      </tr>
      <tr>
        <td>Vand</td>
        <td>1,000 g / cm<sup>3</sup></td>
        <td>1,00 kg</td>
      </tr>
    </tbody>
  </table>
