<!-- Plotly CDN -->
<script src="https://cdn.jsdelivr.net/npm/plotly.js-dist@2.35.2/plotly.min.js"></script>

<!-- Hent Dødløft-scriptet fra assets/js/deadlift/ -->
<script src="{{ '/assets/js/deadlift/deadlift-model.js' | relative_url }}"></script>

<fieldset class="mechanics-model">
    <legend>Dødløft modellen</legend>
    <div class="two-columns">
        <div class="column">
            <fieldset>
                <legend>📏 Målinger</legend>
                <div class="form-group">
                    <label><b>Foot</b></label>
                    <input type="range" id="footslider" min="5" max="40" value="27" step="1" />
                    <span id="footvalue">27 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Tibia</b></label>
                    <input type="range" id="tibiaslider" min="10" max="80" value="50" step="1" />
                    <span id="tibiavalue">50 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Femur</b></label>
                    <input type="range" id="femurslider" min="10" max="80" value="50" step="1" />
                    <span id="femurvalue">50 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Torso</b></label>
                    <input type="range" id="torsoslider" min="10" max="120" value="55" step="1" />
                    <span id="torsovalue">55 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Arm</b></label>
                    <input type="range" id="armslider" min="10" max="120" value="64" step="1" />
                    <span id="armvalue">64 cm</span>
                </div>
            </fieldset>
        </div>
        <div class="column">
            <fieldset>
                <legend>📐 Vinkler</legend>
                <div class="form-group">
                    <label><b>Max Ankle Flexion</b></label>
                    <input type="range" id="ankleflexiontslider" min="0" max="30" value="4" step="1" />
                    <span id="ankleflexionvalue">4°</span>
                </div>
            </fieldset>

            <fieldset>
                <details>
                    <summary>🛠️ Avanceret</summary>
                    <div class="form-group">
                        <label><b>Plate Diameter</b></label>
                        <input type="range" id="plateslider" min="0" max="200" value="45" step="1" />
                        <span id="platevalue">45 cm</span>
                    </div>
                </details>
            </fieldset>
        </div>
    </div>
    <fieldset>
        <div class="form-group">
            <label><b>Dødløft position</b></label>
            <div class="slider-container">
                <span class="label-left">🧍‍♂️ Oppe</span>
                <input type="range" id="positionslider" min="0" max="99" value="99" step="1" />
                <span class="label-right">🧎‍♂️ Nede</span>
            </div>
        </div>
    </fieldset>
</fieldset>

<div class="models">
    <div class="model" id="model" style="max-width: 400px; height: 700px;"></div>
    <div class="model"></div>
</div>
<div class="models">
    <div class="graph" id="stats"></div>
</div>