<!-- Plotly CDN -->
<script src="https://cdn.jsdelivr.net/npm/plotly.js-dist@2.35.2/plotly.min.js"></script>

<!-- Hent Squat-scriptet fra assets/js/squat/ -->
<script src="{{ '/assets/js/squat/squat-model.js' | relative_url }}"></script>

<fieldset class="mechanics-model">
    <legend>Squat modellen</legend>
    <div class="two-columns">
        <div class="column">
            <fieldset>
                <legend>📐 Målinger</legend>
                <div class="form-group">
                    <label><b>Foot</b></label>
                    <input type="range" id="footslider" min="5" max="40" value="27" step="1" />
                    <span id="footvalue">27 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Tibia</b></label>
                    <input type="range" id="tibiaslider" min="10" max="80" value="50" step="1" />
                    <span id="tibiavalue">50 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Femur</b></label>
                    <input type="range" id="femurslider" min="10" max="80" value="50" step="1" />
                    <span id="femurvalue">50 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Torso</b></label>
                    <input type="range" id="torsoslider" min="30" max="120" value="55" step="1" />
                    <span id="torsovalue">55 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Max Ankle Flexion</b></label>
                    <input type="range" id="ankleflexiontslider" min="0" max="60" value="30" step="1" />
                    <span id="ankleflexionvalue">30°</span>
                </div>
            </fieldset>
            <fieldset>
                <details>
                    <summary>🛠️ Avanceret</summary>
                    <div class="row checkbox">
                        <label class="form-inline"><input type="checkbox" id="checkmodel" checked="checked">Show model</label>
                        <label class="form-inline"><input type="checkbox" id="checkstats">Show moment and angles</label>
                        <label class="form-inline"><input type="checkbox" id="checkmoment">Show moment breakdown</label>
                        <label class="form-inline"><input type="checkbox" id="checkmuscle">Show muscle lengths</label>
                    </div>
                </details>
            </fieldset>
        </div>

        <div class="column">
            <fieldset>
                <legend>⚖️ Weight</legend>
                <div class="form-group">
                    <label><b>Bar Weight</b></label>
                    <input type="range" id="barweightslider" min="20" max="500" value="100" step="5" />
                    <span id="barweightvalue">100 kg</span>
                </div>
                <div class="form-group">
                    <label><b>Body Weight</b></label>
                    <input type="range" id="weightslider" min="30" max="300" value="75" step="1" />
                    <span id="weightvalue">75 kg</span>
                </div>
            </fieldset>
            <fieldset>
                <legend>🏋️ Squat style</legend>
                <div class="form-group">
                    <label><b>High -> Low Bar</b></label>
                    <input type="range" id="highlowslider" min="0" max="30" value="0" step="1" />
                    <span id="highlowslidervalue">0 cm</span>
                </div>
                <div class="form-group">
                    <label><b>Depth</b></label>
                    <input type="range" id="depthslider" min="-50" max="50" value="0" step="1" />
                    <span id="depthvalue">0°</span>
                </div>
                <div class="form-group">
                    <label><b>Stance Angle</b></label>
                    <input type="range" id="stanceslider" min="0" max="89" value="20" step="1" />
                    <span id="stancevalue">20°</span>
                </div>
            </fieldset>
        </div>
    </div>

    <fieldset>
        <div class="form-group">
            <label><b>Squat Position</b></label>
            <div class="slider-container">
                <span class="label-left">🧍‍♂️ Standing</span>
                <input type="range" id="positionslider" min="0" max="99" value="0" step="1" />
                <span class="label-right">🧎‍♂️ Squatting</span>
            </div>
        </div>
    </fieldset>
</fieldset>

<div class="models">
    <div class="model" id="model"></div>
    <div class="model" id="model2"></div>
</div>

<div class="row">
    <div class="graph" id="stats"></div>
</div>
<div class="row">
    <div class="graph" id="stats2"></div>
</div>
<div class="row">
    <div class="graph" id="m1"></div>
    <div class="graph" id="m2"></div>
</div>