.idea/*
.vagrant
_site/*
.sass-cache/*
node_modules
bower_components
.jekyll-metadata
.DS_Store
vendor/*
composer.phar
_scripts/*.png
npm-debug.log
.jekyll-cache/*
jekyll-algolia-record-too-big.log
*/.ztr-directory
.bundle/*
build/*
