.idea/
.vagrant
_site/
.sass-cache/
node_modules
bower_components
.jekyll-metadata
.DS_Store
Gemfile.lock
vendor/
composer.phar
composer.lock
_scripts/*.png
npm-debug.log
.jekyll-cache/
jekyll-algolia-record-too-big.log
_posts/.ztr-directory
_drafts/.ztr-directory
_exercises/.ztr-directory
_pages/.ztr-directory
_pages/anatomy/.ztr-directory
_programs/.ztr-directory
assets/images/.ztr-directory
assets/images/authors/.ztr-directory
assets/images/corona/.ztr-directory
assets/images/workouts/.ztr-directory
assets/images/freebies/.ztr-directory
assets/images/anatomy/.ztr-directory
_anatomy/.ztr-directory
assets/images/anatomy/.ztr-directory
assets/images/qrcodes/.ztr-directory
assets/images/occlude/.ztr-directory
assets/images/pinterest/.ztr-directory
src/images/.ztr-directory
src/images/occlude/.ztr-directory
.bundle/config
_anatomy/joints/.ztr-directory
assets/images/blog/.ztr-directory
