---
---
Options +MultiViews

RewriteEngine On
RewriteBase /

{% for post in site.posts %}
{% for link in post.redirect_from %}
RewriteRule ^{{ link }} {{ post.permalink }} [R=301,L]
{% endfor %}
{% endfor %}
{% for link in site.data.redirects %}
RewriteRule ^{{ link.redirect_from }} {{ link.redirect_to }} [R=301,L]
{% endfor %}