{% include figure image_path="https://www.estimatebodyfat.com/static/images/body-fat-caliper-measurement-jackson-pollock-3-site-women.png" caption="Kilde: [estimatebodyfat.com](https://www.estimatebodyfat.com/different-ways-to-measure-body-fat.html)" %}

<form class="calculator" id="calculator_skinfold_pollock_women">
    <fieldset>
        <legend>Pollock-Jackson 3-site skinfold. Kvinder. Indtast de målte værdier.</legend>
        <div class="form-group">
            <label for="triceps_female">Triceps (mm)</label>
            <input type="text" name="triceps_female" id="triceps_female" min="0" max="150" step="0.1">
        </div>
        <div class="form-group">
            <label for="subiliac_female">Hoftekam (mm)</label>
            <input type="text" name="supiliac_female" id="subiliac_female" min="0" max="150" step="0.1">
        </div>
        <div class="form-group">
            <label for="thigh_female">Lår (mm)</label>
            <input type="text" name="thigh_female" id="thigh_female" min="0" max="150" step="0.1">
        </div>
        <div class="form-group">
            <label for="age_female">Alder (år)</label>
            <input type="text" name="age_female" id="age_female" min="10" max="100">
        </div>
        <div class="form-group">
            <label for="weight_female">Vægt (kg)</label>
            <input type="text" name="weight_female" id="weight_female" min="30" max="200" step="0.1">
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="fatpercent_female">Fedtprocent (%)</label>
            <input type="text" name="fatpercent_female" id="fatpercent_female" disabled>
        </div>
        <div class="form-group">
            <label for="ffm_female">Fedtfri masse (kg)</label>
            <input type="text" name="ffm_female" id="ffm_female" disabled>
        </div>
    </fieldset>
</form>
