<form class="calculator" id="calculator_rpe_strength">
    <fieldset>
        <legend>Har løftet (1RM)</legend>
        <div class="form-group">
            <label>Vægt (kg)
                <input name="have_weight" type="number" min="10" max="500" placeholder="" required>
            </label>
        </div>
        <div class="form-group">
            <label>Gentagelser (reps)
                <input name="have_reps" type="number" min="0" max="15" placeholder="" required>
            </label>
        </div>
        <div class="form-group">
            <label>RPE
                <input name="have_rpe" type="number" min="6" max="10" placeholder="" required>
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Vil gerne løfte</legend>
        <div class="form-group">
            <label>Gentagelser (reps)
                <input name="want_reps" type="number" min="1" max="14" placeholder="" required>
            </label>
        </div>
        <div class="form-group">
            <label>RPE
                <input name="want_rpe" type="number" min="6" max="10" placeholder="" required>
            </label>
        </div>
        <input type="submit" value="Udregn">
    </fieldset>
    <fieldset>
        <legend>Resultat</legend>
        <div class="form-group">
            <label>e1RM (kg)
                <input disabled name="e1rm" type="text" disabled>
            </label>
        </div>
        <div class="form-group">
            <label>Du skal løfte (kg)
                <input disabled name="want_weight" type="text" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator-footer.html %}
</form>
