<script>
    function calculate(form) {
        var age = parseInt(form.age.value);
        var weight = parseInt(form.weight.value);
        var height = parseInt(form.height.value); // convert to meters
        //var workoutPrWeek = parseInt(form.workoutPrWeek.value); // uoverfl&oslash;delig
        var bulkConstant = parseInt(form.bulkConstant.value);
        var sex = form.sexHidden.value;
        var activityConstant = form.activityLevel.options[form.activityLevel.selectedIndex].value / 100;
        //var sportConstant = form.sportLevel.options[form.sportLevel.selectedIndex].value / 1000; // uoverfl&oslash;delig

        if (sex == "male") {
            var basicMeta = 66 + (13.7 * weight) + (5 * height) - (6.8 * age); // basic Metabolism for males	
        }

        if (sex == "female") {
            var basicMeta = 655 + (9.6 * weight) + (1.8 * height) - (4.7 * age); // basic Metabolism for female between 19-30 years
        }

        //var vedligehold = parseInt(basicMeta * (activityConstant+workoutPrWeek*sportConstant));
        var vedligehold = parseInt(basicMeta * activityConstant);
        var bulk = vedligehold + bulkConstant;
        var cut = vedligehold - bulkConstant;
        var protein = weight * 2;
        document.getElementById('equilibrium').value = vedligehold + " kcal";
        document.getElementById('bulk').value = bulk + " kcal";
        document.getElementById('cut').value = cut + " kcal";
        document.getElementById('protein').value = protein + "g";
        return false;
    }
</script>
<form class="calculator" id="form1">
    <fieldset>
        <legend>Simpel udregning af dit ligevægtsindtag.</legend>
        <fieldset>
            <legend>Køn</legend>
            <label for="male" class="radio"><input type="radio" name="sex" value="male" id="male" onclick="this.form.sexHidden.value = 'male';" checked="checked"> Mand</label>
    		<label for="female" class="radio"><input type="radio" name="sex" value="female" id="female" onclick="this.form.sexHidden.value = 'female';"> Kvinde</label>
    		<input type="hidden" name="sexHidden" value="male">
        </fieldset>
        <div class="form-group">
            <label for="age">Alder (år)</label>
            <input type="number" min="10" max="100" placeholder="fx 40" name="age" id="age">
        </div>
        <div class="form-group">
            <label for="weight">Vægt (kg)</label>
            <input type="number" min="10" max="200" placeholder="fx 70" name="weight" id="weight" step="0.1">
        </div>
        <div class="form-group">
            <label for="height">Højde (cm)</label>
            <input type="number" min="10" max="240" placeholder="fx 170" name="height" id="height" step="0.1">
        </div>
        <fieldset>
            <legend>Fysisk aktivitetsniveau (PAL)</legend>
            <label>Aktivitetsniveau
			<select name="activityLevel"> 
				<option value="120">Siddende arbejde, ingen eller lidt fritidsaktivitet</option>
				<option value="130">Stående arbejde, ingen eller lidt fritidsaktivitet</option>
				<option value="138">Siddende arbejde, let fritidsaktivitet 1-3 x ugentligt</option>
				<option value="145">Stående arbejde, let fritidsaktivitet 1-3 x ugentligt</option>			
				<option value="155">Siddende arbejde, moderat/hård aktivitet 3-5 x ugentligt</option>
				<option value="164">Stående arbejds, moderat/hård aktivitet 3-5 x ugentligt</option>
				<option value="173">Siddende arbejde, moderat/hård aktivitet 6-7 x ugentligt</option>
				<option value="190">Stående arbejde, moderat/hård aktivitet 6-7 x ugentligt</option>
			</select>
			</label>
        </fieldset>
        <input type="submit" value="Beregn" onclick="return calculate(this.form);">
    </fieldset>
    <fieldset class="results">
        <!--
        <div class="form-group">
            <label for="BMR2">Basalstofskifte (BMR) (kJ)</label>
            <input name="BMR2" id="BMR2" disabled="disabled">
        </div>
        -->
        <div class="form-group">
            <label for="equilibrium">Ligevægtsindtag (kJ)</label>
            <input name="equilibrium" id="equilibrium" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="bulk">Bulk (kJ)</label>
            <input name="bulk" id="bulk" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="cut">Cut (kJ)</label>
            <input name="cut" id="cut" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="protein">Protein indtag pr. dag (g)</label>
            <input name="protein" id="protein" disabled="disabled">
        </div>
        <div class="notes">
            <label for="bulkConstant">Bulk/Cut værdier baseret på +/- (kcal)</label>
            <input type="text" value="300" onchange="calculate(this.form);" name="bulkConstant" id="bulkConstant">
        </div> 
    </fieldset>
</form>
