<form class="calculator" id="calculator_idealweight">
    <fieldset>
        <legend>Udregning af idealvægt. Indtast værdier</legend>
        <div class="form-group">
            <label for="height">Højde (cm) - minimum 152 cm
                <input name="height" type="number" min="152" max="272" placeholder="Højde i cm" step="0.1" required>
            </label>
        </div>
        <fieldset>
            <legend>Køn 👫</legend>
            <label class="radio">
                <input name="sex" type="radio" value="man" selected="selected"> &#9794; Mand
            </label>
            <label class="radio">
                <input name="sex" type="radio" value="woman"> &#9792; Kvinde
            </label>
        </fieldset>
        <fieldset>
            <legend>Kropstype i forhold til skeletbredde 🦴</legend>
            <div class="form-group">
                <label for="" style="float: right;">Bredt skelet</label>
                <label for="bodytype">Smalt skelet</label>
                <input name="bodytype" type="range" value="1" min="0.92" max="1.08" step="0.01" id="bodytype">
            </div>
        </fieldset>
        <input type="submit" value="Udregn">
    </fieldset>
    <fieldset class="results">
        <legend>Idealvægt baseret på højde og køn</legend>
        <table>
            <tr>
                <th>Formel</th>
                <th nowrap>Idealvægt (kg)</th>
                <th nowrap>Inkl. kropstype (kg)</th>
            </tr>
            <tr>
                <th>G. J. Hamwi (1964)</th>
                <td><input class="input-small" disabled name="idealweight_hamwi" type="text"></td>
                <td><input class="input-small" disabled name="idealweight_hamwi_bodytype" type="text"></td>
            </tr>
            <tr>
                <th>B. J. Devine (1974)</th>
                <td><input class="input-small" disabled name="idealweight_devine" type="text"></td>
                <td><input class="input-small" disabled name="idealweight_devine_bodytype" type="text"></td>
            </tr>
            <tr>
                <th>J. D. Robinson (1983)</th>
                <td><input class="input-small" disabled name="idealweight_robinson" type="text"></td>
                <td><input class="input-small" disabled name="idealweight_robinson_bodytype" type="text"></td>
            </tr>
            <tr>
                <th nowrap>Miller Formula D.R. (1983)</th>
                <td><input class="input-small" disabled name="idealweight_miller" type="text"></td>
                <td><input class="input-small" disabled name="idealweight_miller_bodytype" type="text"></td>
            </tr>
            <tr>
                <th class="form-inline">Peterson (2016)
                    <label>
                        BMI<sub>TARGET</sub>
                        <input class="input-mini" name="peterson_target_bmi" type="number" min="15" max="40" step="0.1" value="22">
                    </label>
                </th>
                <td><input class="input-small" disabled name="idealweight_peterson" type="text"></td>
                <td><input class="input-small" disabled name="idealweight_peterson_bodytype" type="text"></td>
            </tr>
            <tr>
                <th class="form-inline">Morten Zacho (2000)
                    <label>
                        BMI<sub>TARGET</sub>
                        <input class="input-mini" name="zacho_target_bmi" type="number" min="15" max="40" step="0.1" value="">
                    </label>
                </th>
                <td><input class="input-small" disabled name="idealweight_zacho" type="text"></td>
                <td><input class="input-small" disabled name="idealweight_zacho_bodytype" type="text"></td>
            </tr>
        </table>
        <p class="help-block">Husk at idealvægten for mænd og kvinder kan variere med +/- 6 kg i forhold til din sundhed. Din kropsbygning og bredden af skelettet påvirker også idealvægten. De udregnede værdier er kun retningslinjer.</p>
    </fieldset>
    {% include calculator-footer.html %}
</form>
