<form>
    <table bgcolor="#990000">
        <tbody>
            <tr bgcolor="#ccffcc">
                <td bgcolor="#ffffff" colspan="2">Indtast distance og persondata</td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">Distance tilbagelagt:</td>
                <td width="253"><input size="7" value="400" name="Meter"> meter</td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">Køn:</td>
                <td width="253">
                    <select size="1" name="Koen">
                        <option value="1" selected>Mand</option>
                        <option value="0">Kvinde</option>
                    </select>
                </td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">Alder:</td>
                <td width="253">
                    <input size="7" value="60" name="Alder"> år
                </td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td>Højde:</td>
                <td>
                    <input size="7" value="170" name="Hoejde"> cm
                </td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">Vægt</td>
                <td width="253">
                    <input size="7" value="70" name="Vaegt"> kg
                </td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179"></td>
                <td width="253">
                    <input type="button" value="Beregn" id="calculate_6min">
                </td>
            </tr>
            <tr bgcolor="#990000">
                <td width="179" bgcolor="#648cb4">
                    Referenceværdi:
                </td>
                <td width="253" bgcolor="#648cb4">
                    <input maxlength="5" size="7" name="Refmeter" disabled="disabled"> meter
                </td>
            </tr>
            <tr bgcolor="#990000">
                <td width="179" bgcolor="#648cb4">Procent af normal:</td>
                <td width="253" bgcolor="#648cb4">
                    <input maxlength="5" size="7" name="Procent" disabled="disabled"> %
                </td>
            </tr>
        </tbody>
    </table>
</form>
