<script language="JavaScript">
    function Calculate(thisform) {
        Min = thisform.Min.value;
        Sek = thisform.Sek.value;
        Pul = thisform.Pul.value;
        Koen = thisform.Koen.value;
        Alder = thisform.Alder.value;
        Vaegt = thisform.Vaegt.value;
        Tid = Min * 60 + Sek * 1
        resultat = Math.round((6.9652 + (0.020062 * Vaegt) - (0.0257 * Alder) + (0.5955 * Koen) - (0.003754 * Tid) - (0.0115 * Pul)) * Math.pow(10, 1)) / Math.pow(10, 1)
        resultat2 = Math.round((resultat / Vaegt * 1000) * Math.pow(10, 2)) / Math.pow(10, 2)
        thisform.Iltoptag.value = resultat
        thisform.Konditalk.value = resultat2
        return false;
    }
</script>
<form onsubmit="return Calculate(this);">
    <table bgcolor="#990000">
        <tbody>
            <tr bgcolor="#ccffcc">
                <td colspan="2" bgcolor="#ffffff">Indtast tid og pulssamt personlige data.</td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    Tiden for at gå 1,6 km :
                </td>
                <td width="253"><input name="Min" size="7" type="text" value="17" /> minutter <input name="Sek" size="7" type="text" value="20" /> sek.</td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    Pulsefter 1,6 km: 
                </td>
                <td width="253"><input name="Pul" size="7" type="text" value="110" /> slag/min</td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    Køn:
                </td>
                <td width="253"><select name="Koen" size="1"><option selected="selected" value="1">Mand</option><option value="0">Kvinde</option></select></td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    Alder:
                </td>
                <td width="253"><input name="Alder" size="7" type="text" value="40" /> år</td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    Vægt
                </td>
                <td width="253"><input name="Vaegt" size="7" type="text" value="70" /> kg</td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179"></td>
                <td width="253"><input name="submit" type="submit" value="Beregn" /></td>
            </tr>
            <tr bgcolor="#990000">
                <td bgcolor="#648cb4" width="179">
                    Iltoptagelse
                </td>
                <td bgcolor="#648cb4" width="253">
                    <input maxlength="5" name="Iltoptag" size="7" type="text" /> l/min 
                </td>
            </tr>
            <tr bgcolor="#990000">
                <td bgcolor="#648cb4" width="179">
                    Kondital
                </td>
                <td bgcolor="#648cb4" width="253">
                    <input maxlength="5" name="Konditalk" size="7" type="text" /> ml/kg/min
                </td>
            </tr>
        </tbody>
    </table>
</form>
