<form class="calculator">
    <fieldset>
        <caption>Beregning af intervaller - indtast V<sub>max</sub> og T<sub>max</sub></caption>
        <div class="form-group">
            <label>V<sub>max</sub> (watt)</label>
            <input type="text" name="Vmax2" value="320"> watt (fra ovenstående skema)
        </div>
        <div class="form-group">
            <label>T<sub>max</sub></label>
            <input type="text" name="Min" value="4"> minutter
            <input type="text" name="Sek" value="20"> sek.
        </div>
        <input type="button" value="Beregn" id="calculate_vmax_bike_intervals">
    </fieldset>
    <fieldset>
        <legend>Anbefalet opvarmning</legend>
        <div class="form-group">
            <label>8 minutter på</label>
            <input type="text" name="Opvarm1" disabled="disabled"> til
            <input type="text" name="Opvarm2" disabled="disabled"> watt
        </div>
    </fieldset>
    <fieldset>
        <legend>Intervaller</legend>
        <div class="form-group">
            <label>Interval-belastning</label>
            <input type="text" name="Vmax3" disabled="disabled"> watt
        </div>
        <div class="form-group">
            <label>Interval-tid</label>
            <input type="text" name="Vmaxtid_m" disabled="disabled"> min
            <input type="text" name="Vmaxtid_s" disabled="disabled"> sek.
        </div>
        <div class="form-group">
            <label>Pause-belastning</label>
            <input type="text" name="Vpause" disabled="disabled"> watt
        </div>
        <div class="form-group">
            <label>Pause-tid</label>
            <input type="text" name="Pausetid_m" disabled="disabled"> min 
            <input type="text" name="Pausetid_s" disabled="disabled"> sek.
        </div>
        x 4-6
    </fieldset>
</form>
