{% include figure image_path="https://miro.medium.com/max/2250/1*dMsWX5cS4CLkKnVAyYPn5A.png" caption="Kilde: [www.estimatebodyfat.com](https://www.estimatebodyfat.com/caliper-calculator.html)" alt="Durnin and Womersley 4-site skinfold test" %}
{% include figure image_path="https://miro.medium.com/max/2250/1*_FXK5XcWvuWv0g-aZD-6fQ.png" caption="Kilde: [www.estimatebodyfat.com](https://www.estimatebodyfat.com/caliper-calculator.html)" alt="Durnin and Womersley 4-site skinfold test" %}

<form class="calculator" id="calculator_skinfold_durnin">
    <fieldset>
        <legend>Durnin & Womersley 4-site skinfold måling af fedtprocent. Indtast de målte værdier.</legend>
        <div class="form-group">
            <label for="biceps">Biceps (mm)</label>
            <input type="number" name="biceps" id="biceps" min="0" max="100" step="0.1" placeholder="Biceps (mm)">
        </div>
        <div class="form-group">
            <label for="triceps">Triceps (mm)</label>
            <input type="number" name="triceps" id="triceps" min="0" max="100" step="0.1" placeholder="Triceps (mm)">
        </div>
        <div class="form-group">
            <label for="subscapularis">Skulderblad - subscapularis (mm)</label>
            <input type="number" name="subscapularis" id="subscapularis" min="0" max="100" step="0.1" placeholder="Subscapularis (mm)">
        </div>
        <div class="form-group">
            <label for="suprailiac">Hoftekam - suprailiac (mm)</label>
            <input type="number" name="suprailiac" id="suprailiac" min="0" max="100" step="0.1" placeholder="Suprailiac (mm)">
        </div>
        <div class="form-group">
            <label for="gender">Køn</label>
            <select name="gender" id="gender">
                <option value="male">Mand</option>
                <option value="female">Kvinde</option>
            </select>
        </div>
        <div class="form-group">
            <label for="vaegt">Vægt (kg)</label>
            <input type="number" name="weight" id="weight" min="10" max="200" step="0.1">
        </div>
        <div class="form-group">
            <label for="age">Alder (år)</label>
            <input type="number" name="age" id="age" min="10" max="100">
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="skinfold_durnin">Hudfoldstykkelse (mm)</label>
            <input type="text" name="skinfold_durnin" id="skinfold_durnin" disabled>
        </div>
        <div class="form-group">
            <label for="fatpercent_durnin">Fedtprocent (%)</label>
            <input type="text" name="fatpercent_durnin" id="fatpercent_durnin" disabled>
        </div>
        <div class="form-group">
            <label for="ffm_durnin">Fedtfri masse (kg)</label>
            <input type="text" name="ffm_durnin" id="ffm_durnin" disabled>
        </div>
    </fieldset>
</form>
