{% comment %}
<script>
    function FigureBEEP(form, level, shuttles, version) {
        var shuttleTOTAL = [0, 7, 8, 8, 8, 9, 9, 10, 10, 11, 11, 11, 12, 12, 13, 13, 13, 14, 14, 15, 15, 16];
        var Fract = shuttles / shuttleTOTAL[level];
        var Score = Number(level) + Fract;

        var Adjust
        var version;
        if (version < 20) {
            Adjust = 0;
        }
        else {
            Adjust = 1180;
        }

        var distTOTAL = [0, 0, 140, 300, 460, 620, 800, 980, 1180, 1380, 1600, 1820, 2040, 2280, 2520, 2780, 3040, 3300, 3580, 3860, 4160, 4460];
        var distance = distTOTAL[level] + (shuttles * 20) - Number(version);

        var totalshuttles = distance / 20;

        var calcval = ((0.0028 * Score * Score * Score) - (0.0968 * Score * Score) + (4.5226 * Score) + 5.5137).toFixed(1);
        form.calcval.value = ((0.0028 * Score * Score * Score) - (0.0968 * Score * Score) + (4.5226 * Score) + 5.5137).toFixed(1);

        document.getElementById("distance_result").value = distance;
        document.getElementById("totalshuttles_result").value = totalshuttles;
        document.getElementById("calcval_result").value = calcval;

    }
</script>
{% endcomment %}

<form id="calculator_beeptest_yye1" class="calculator">
    <fieldset>
        <legend>Udregn kondital fra YoYo Udholdenhedstest</legend>
        <fieldset>
            <legend>Testversion</legend>
            <label class="radio">
                <input type="radio" name="version" value="YYE1" checked="checked"> Yo-Yo Endurance Test <strong>Level 1</strong>
            </label>
            <label class="radio">
                <input type="radio" name="version" value="YYE2"> Yo-Yo Endurance Test <strong>Level 2</strong>
            </label>
        </fieldset>
        <div class="form-group">
            <label>Niveau opnået i testen (5-21)
                <input type="number" name="level" max="21" min="5" required>
            </label>
        </div>
        <div class="form-group">
            <label>Antal 20m shuttles (0-16) på niveauet
                <input type="number" name="shuttles" max="16" min="0" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <legend>Resultater</legend>
        <label>Distance (m)
            <input disabled name="distance_result" id="distance_result" type="text">
        </label>
        <label>Antal 20m shuttles
            <input disabled name="totalshuttles_result" id="totalshuttles_result" type="text">
        </label>
        <label>Kondital (ml/kg/min)
            <input disabled name="vo2max_result" id="vo2max_result" type="text">
        </label>
    </fieldset>
    {% include calculator-footer.html %}
</form>
