<form class="calculator" id="calculator_running_walking">
    <fieldset>
        <legend>Energiudregner. Sammenlign energiforbruget ved gang og løb.</legend>
        <div class="form-group">
            <label for="weight">Vægt (kg)</label>
            <input name="weight" id="weight" type="number" placeholder="fx 68 kg" required>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label for="walking">Gang</label>
            <select name="walking" id="walking">
                <option value="4">Gang - 4,0 km/t</option>
                <option value="4.8">Gang - 4,8 km/t</option>
                <option value="5.6">Gang - 5,6 km/t</option>
                <option value="6.4">Gang - 6,4 km/t</option>
                <option value="7.2">Gang - 7,2 km/t</option>
                <option value="8.0">Gang - 8,0 km/t</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="results">
         <legend>Energiforbrug ved gang</legend>
        <div class="form-group">
            <label for="calories_walking_kilometer">Energiforbrug (kcal/kilometer)</label>
            <input name="calories_walking_kilometer" id="calories_walking_kilometer" type="text" disabled>
        </div>
        <div class="form-group">
            <label for="calories_walking_minute">Energiforbrug (kcal/minut)</label>
            <input name="calories_walking_minute" id="calories_walking_minute" type="text" disabled>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label for="running">Løb</label>
            <select name="running" id="running">
                <option value="6.4">Løb - 6,4 km/t</option>
                <option value="8" selected="selected">Løb - 8 km/t</option>
                <option value="9.7">Løb - 9,7 km/t</option>
                <option value="10.8">Løb - 10,8 km/t</option>
                <option value="11.3">Løb - 11,3 km/t</option>
                <option value="14.5">Løb - 14,5 km/t</option>
                <option value="16.1">Løb - 16,1 km/t</option>
            </select>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <legend>Energiforbrug ved løb</legend>
        <div class="form-group">
            <label for="calories_running_kilometer">Energiforbrug (kcal/kilometer)</label>
            <input name="calories_running_kilometer" id="calories_running_kilometer" type="text" disabled>
        </div>
        <div class="form-group">
            <label for="calories_running_minute">Energiforbrug (kcal/minut)</label>
            <input name="calories_running_minute" id="calories_running_minute" type="text" disabled>
        </div>
    </fieldset>
    <fieldset class="results">
        <legend>Sammenligning af af løb og gang</legend>
        <div class="form-group">
            <label for="ratio_kilometer">Løb i forhold til gang (kilometer)</label>
            <input name="ratio_kilometer" id="ratio_kilometer" type="text" disabled>
        </div>
        <div class="form-group">
            <label for="ratio_minute">Løb i forhold til gang (minut)</label>
            <input name="ratio_minute" id="ratio_minute" type="text" disabled>
        </div>
    </fieldset>
    <div class="notes">
        <p>Beregneren er baseret på MET (metabolic equivalents) for fysisk aktivitet, som du kan finde fra <a href="https://sites.google.com/site/compendiumofphysicalactivities/home">Compendium of Physical Activities</a>. Beregningerne tager ikke højde for individuelle forskelle, bevægelsesøkonomi og den evt. efterforbrænding.</p>
    </div>
</form>
