<p>Her finder instruktion og beregner til at måle din fedtprocent med Jackson og Pollacks formel, hvor der skal måles 3 steder på kroppen.</p>
<p>Denne metode anbefales som standard af ACSM (American College of Sports Medicine). Denne formel er bedst egnet til folk med en relativt lav fedtprocent. I nogle tilfælde vil denne formel have en tendens til at undervurdere fedtprocenten.</p>
<p>Mænd skal måle ved bryst, mave og lår. Kvinder skal måle ved triceps, hoftekam og lår.</p>
<table border="0" cellspacing="4" cellpadding="8">
    <tbody>
        <tr>
            <td height="276">
                <form name="fedt_m">
                    <table border="1" cellspacing="1" cellpadding="4" align="right" bgcolor="#003366">
                        <tbody>
                            <tr>
                                <td colspan="2" bgcolor="#FFFFFF">Indtast de målte værdier.</td>
                            </tr>
                            <tr bgcolor="#FBECD7">
                                <td>
                                    <div align="right">Bryst:</div>
                                </td>
                                <td><input maxlength="4" name="bryst_m" size="7" type="text" value="12" /> mm</td>
                            </tr>
                            <tr bgcolor="#FBECD7">
                                <td>
                                    <div align="right">Mave:</div>
                                </td>
                                <td><input maxlength="4" name="mave_m" size="7" type="text" value="12" /> mm</td>
                            </tr>
                            <tr bgcolor="#FBECD7">
                                <td>
                                    <div align="right">Lår:</div>
                                </td>
                                <td><input maxlength="4" name="laar_m" size="7" type="text" value="12" /> mm</td>
                            </tr>
                            <tr>
                                <td bgcolor="#D8E4F8">
                                    <div align="right">Alder:</div>
                                </td>
                                <td bgcolor="#D8E4F8"><input maxlength="3" name="alder_m" size="7" type="text" value="30" /> År</td>
                            </tr>
                            <tr>
                                <td bgcolor="#D8E4F8">
                                    <div align="right">Vægt</div>
                                </td>
                                <td bgcolor="#D8E4F8"><input maxlength="5" name="vaegt_m" size="7" type="text" value="75" /> Kg</td>
                            </tr>
                            <tr bgcolor="#993300">
                                <td>
                                    <div align="right"><strong>Fedtprocent:</strong></div>
                                </td>
                                <td><input maxlength="5" name="fedtprocent_m" size="7" type="text" /><strong> %</strong></td>
                            </tr>
                            <tr>
                                <td bgcolor="#34557A">
                                    <div align="right"><strong>Fedtfri kropsvægt: </strong></div>
                                </td>
                                <td bgcolor="#34557A"><input maxlength="5" name="fedtfri_m" size="7" type="text" /><strong>kg</strong></td>
                            </tr>
                            <tr bgcolor="#FFFFFF">
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</div>
<table border="0" cellspacing="4" cellpadding="8">
    <tbody>
        <tr>
            <td height="276"><strong>Mænd</strong></p>
                <p><img src="https://www.motion-online.dk/images/fedt/man_jackson1.jpg" alt="" width="71" height="227" /></td>
        </tr>
        <tr>
            <td height="327">
                <form name="fedt_k">
                    <table border="1" cellspacing="1" cellpadding="4" align="right" bgcolor="#003366">
                        <tbody>
                            <tr>
                                <td colspan="2" bgcolor="#FFFFFF">Indtast de målte værdier.</td>
                            </tr>
                            <tr bgcolor="#FBECD7">
                                <td>
                                    <div align="right">Triceps:</div>
                                </td>
                                <td><input maxlength="4" name="triceps_k" size="7" type="text" value="12" /> mm</td>
                            </tr>
                            <tr bgcolor="#FBECD7">
                                <td>
                                    <div align="right">Hoftekam:</div>
                                </td>
                                <td><input maxlength="4" name="hoftekam_k" size="7" type="text" value="12" /> mm</td>
                            </tr>
                            <tr bgcolor="#FBECD7">
                                <td>
                                    <div align="right">Lår:</div>
                                </td>
                                <td><input maxlength="4" name="laar_k" size="7" type="text" value="12" /> mm</td>
                            </tr>
                            <tr bgcolor="#FAECFB">
                                <td>
                                    <div align="right">Alder:</div>
                                </td>
                                <td><input maxlength="3" name="alder_k" size="7" type="text" value="30" /> År</td>
                            </tr>
                            <tr bgcolor="#FAECFB">
                                <td>
                                    <div align="right">Vægt</div>
                                </td>
                                <td><input maxlength="5" name="vaegt_k" size="7" type="text" value="65" /> Kg</td>
                            </tr>
                            <tr bgcolor="#993300">
                                <td>
                                    <div align="right"><strong>Fedtprocent:</strong></div>
                                </td>
                                <td><input maxlength="5" name="fedtprocent_k" size="7" type="text" /><strong> %</strong></td>
                            </tr>
                            <tr>
                                <td bgcolor="#34557A">
                                    <div align="right"><strong>Fedtfri kropsvægt: </strong></div>
                                </td>
                                <td bgcolor="#34557A"><input maxlength="5" name="fedtfri_k" size="7" type="text" /><strong>kg</strong></td>
                            </tr>
                            <tr bgcolor="#FFFFFF">
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellspacing="4" cellpadding="8">
    <tbody>
        <tr>
            <td height="327"><strong>Kvinder</strong></p>
                <div id="cncpt-outstream"></div>
                <p><img src="https://www.motion-online.dk/images/fedt/woman_jackson1.jpg" alt="" width="57" height="209" /></p>
                <p>&nbsp;</td>
        </tr>
    </tbody>
</table>
<p><strong>Referencer</strong></p>
<p>Jackson AS, Pollock ML. Generalized equations for predicting body density of men. Br J Nutr. 1978; 40: 497-504.</p>
<p>Siri WE. The gross composition of the body. pages 239-280. IN: Lawrence JH, Tobias CA (editors). Advances in Biological and Medical Physics. Academic Press, Inc. Advances in Biological and Medical Physics. 1956; 4: 239-280.</p>