<form class="calculator">
    <fieldset>
        <div class="form-group">
            <label class="mxLabel">Alder (år)</label>
            <input type="text" maxlength="3" id="mxAld" placeholder="Alder i år" />
        </div>
        <div class="mxrowRgt">
            <input type="button" class="mxBtns" id="mxCalBtn" value="Beregn" />
        </div>
    </fieldset>
    <fieldset class="results">
        <div class="mxresrowLft">
            <span class="mxresLabel">Maxpuls (slag/min)</span>
            <span class="mxresTxt" id="mxMaxpul">0</span><span class="mxrespostFx"></span>
        </div>
    </fieldset>
</form>
