<form class="calculator" id="calculator_hrzones_friel">
    <fieldset>
        <legend>Pulszoner ud fra pulsen ved laktattærsklen (LTHR)</legend>
        <div class="form-group">
            <label>Puls ved laktattærsklen (HR<sub>AT</sub>)
                <input id="friel_lthr" min="30" max="250" type="number" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>

    <fieldset class="results">
        <legend>Pulszoner ud fra laktattærsklen (LTHR)</legend>
        <table>
            <caption>Disse zoner er baseret på Joe Friels pulszoner</caption>
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>HR-intensitet</th>
                    <th>Fra HR</th>
                    <td>&nbsp;</td>
                    <th>Til HR</th>
                </tr>
            </thead>
            <tbody>
                   <tr>
                    <td>Restitution</td>
                    <td>60%-75%</td>
                    <td><input type="text" disabled id="friel_zone1_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled id="friel_zone1_b"></td>
                </tr>
                <tr>
                    <td>Udholdenhed</td>
                    <td>75%-85%</td>
                    <td><input type="text" disabled id="friel_zone2_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled id="friel_zone2_b"></td>
                </tr>
                <tr>
                    <td>Tempo</td>
                    <td>85%-95%</td>
                    <td><input type="text" disabled id="friel_zone3_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled id="friel_zone3_b"></td>
                </tr>
                <tr>
                    <td>Tærskel</td>
                    <td>95%-102%</td>
                    <td><input type="text" disabled id="friel_zone4_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled id="friel_zone4_b"></td>
                </tr>
                <tr>
                    <td>VO<sub>2</sub>max</td>
                    <td>102%-Maxpuls</td>
                    <td><input type="text" disabled id="friel_zone5_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled  id="friel_zone5_b"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    {% include calculator-footer.html %}
</form>
