<form id="calculator_billat" class="calculator">
    <fieldset>
        <legend>Distance løbet på 6 minutters test</legend>
        <label>Distance (meter) <input name="distance" type="text" placeholder="meter" required></label>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <label>vVO<sub>2</sub> max (meter/sekund) <input name="speed" id="speed" type="text" disabled></label>
    </fieldset>
    <fieldset class="results">
        <legend>30-30 Session - Maksimal intensitet</legend>
        <label>Arbejdsperiode (meter på 30 sek) <input name="d30" id="d30" type="text" disabled></label>
        <label>Aktiv restitution (meter på 30 sek) <input name="r30" id="r30" type="text" disabled></label>
    </fieldset>
    <fieldset class="results">
        <legend>60-60 Session - Maksimal intensitet</legend>
        <label>Arbejdsperiode (meter på 60 sek) <input name="d60" id="d60" type="text" disabled></label>
        <label>Aktiv restitution (meter på 60 sek) <input name="r60" id="r60" type="text" disabled></label>
    </fieldset>
    <fieldset class="results">
        <legend>3-3 session - 5 gentagelser</legend>
        <label>Distance (meter) <input name="session" id="session" type="text" disabled></label>
        <div class="form-group">
            <label>Tid (mm:ss)</label>
            <input name="mins" id="mins" type="text" class="input-mini" disabled>
            <input name="secs" id="secs" type="text" class="input-mini" disabled>
        </div>
        <label>Hastighed (sek/400 meter)
            <input name="secs400" id="secs400" type="text" disabled>
        </label>
    </fieldset>
</form>
