<script>
    // JavaScript Document
    function Calculate(thisform) {
        arb = thisform.arb.value * 1;
        koen = thisform.koen.value * 1;
        puls = thisform.puls.value;
        alder = thisform.alder.value;
        vaegt = thisform.vaegt.value;
        if ((koen == "1") && (arb == "50")) {
            ax3 = -0.0000141887098363194;
            bx2 = 0.00564913345624763;
            cx = -0.780818885937746;
            d = 39.1006320316801;
        }
        if ((koen == "1") && (arb == "75")) {
            ax3 = -0.00000543674435627603;
            bx2 = 0.0026568064501183;
            cx = -0.452158557600623;
            d = 28.2705225878313;
        }
        if ((koen == "1") && (arb == "100")) {
            ax3 = -0.00000781456387209244;
            bx2 = 0.0037691350493366;
            cx = -0.628684090959725;
            d = 38.1781325862974;
        }
        if ((koen == "1") && (arb == "150")) {
            ax3 = -0.00000480199704005531;
            bx2 = 0.00263336860763636;
            cx = -0.502384480151535;
            d = 35.4646039706529;
        }
        if ((koen == "0") && (arb == "50")) {
            ax3 = -0.00000908367168416049;
            bx2 = 0.00414579767940695;
            cx = -0.655844035762893;
            d = 37.2727235943794;
        }
        if ((koen == "0") && (arb == "75")) {
            ax3 = -0.00000933665751673296;
            bx2 = 0.0044902366150176;
            cx = -0.742969310750658;
            d = 43.9747812265557;
        }
        if ((koen == "0") && (arb == "100")) {
            ax3 = -0.00000915073336660991;
            bx2 = 0.00455540562587432;
            cx = -0.780173372160715;
            d = 47.9223030409269;
        }
        if ((koen == "0") && (arb == "150")) {
            ax3 = -0.00000541183365569748;
            bx2 = 0.00301601587808795;
            cx = -0.586119541549347;
            d = 41.7833862710695;
        }
        korrektion = 0.0000772460416296068 * alder * alder - 0.0153110952973968 * alder + 1.31886556366008
        iltoptag = ((ax3 * puls * puls * puls + bx2 * puls * puls + cx * puls + d) * korrektion)
        thisform.Iltoptag.value = Math.round(iltoptag * Math.pow(10, 2)) / Math.pow(10, 2)
        thisform.Kondital.value = Math.round((iltoptag / vaegt * 1000) * Math.pow(10, 1)) / Math.pow(10, 1)
        return false;
    }
</script>

<form name="test" onsubmit="return Calculate(this);">
    <table cellspacing="1" cellpadding="4" width="451" align="center" bgcolor="#003366" border="0">
        <tbody>
            <tr>
                <td bgcolor="#ffffff" colspan="2">
                    Indtast de målte værdier.
                </td>
            </tr>
            <tr>
                <td bgcolor="#d3e1f8" height="36">
                    Arbejdsbelastning:
                </td>

                <td bgcolor="#d3e1f8" height="36">
                    <select name="arb">
                        <option value="50">50 watt</option>
                        <option value="75">75 watt</option>
                        <option value="100" selected>100 watt</option>
                        <option value="150">150 watt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td bgcolor="#d3e1f8">
                    Puls ved denne belastning:
                </td>
                <td bgcolor="#d3e1f8"><input maxlength="3" size="7" value="120" name="puls"> Slag/min </td>
            </tr>

            <tr>
                <td bgcolor="#d8e4f8" height="2">
                    Køn
                </td>
                <td bgcolor="#d8e4f8" height="2">
                    <select name="koen">
                        <option value="1" selected>Mand</option>
                        <option value="0">Kvinde</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td bgcolor="#d8e4f8">
                    Alder:
                </td>
                <td bgcolor="#d8e4f8"><input maxlength="3" size="7" value="40" name="alder">År</td>
            </tr>
            <tr>

                <td bgcolor="#d8e4f8">
                    Vægt
                </td>
                <td bgcolor="#d8e4f8"><input maxlength="5" size="7" value="70" name="vaegt"> Kg</td>
            </tr>
            <tr>
                <td bgcolor="#34557a">
                    Maximal iltoptagelse
                </td>
                <td bgcolor="#34557a">
                    <input maxlength="5" size="7" name="Iltoptag"> l/min
                </td>
            </tr>
            <tr>
                <td bgcolor="#34557a">
                    Kondital
                </td>

                <td bgcolor="#34557a">
                    <input maxlength="5" size="7" name="Kondital"> ml/kg/min
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td colspan="2">
                    <input type="submit" value="Beregn" name="submit">
                </td>
            </tr>
        </tbody>
    </table>
</form>
