<form>
    <table bgcolor="#003366">
        <caption>Indtast de målte værdier.</caption>
        <tbody>
            <tr>
                <td bgcolor="#d3e1f8">1. arbejdsbelastning:</td>
                <td bgcolor="#d3e1f8">
                    <input maxlength="3" size="7" value="100" name="arb1"> Watt
                </td>
            </tr>
            <tr>
                <td bgcolor="#d3e1f8">Puls ved 1. arbejdsbelastning:</td>
                <td bgcolor="#d3e1f8">
                    <input maxlength="3" size="7" value="120" name="puls1"> Slag/min
                </td>
            </tr>
            <tr>
                <td bgcolor="#cef4ea">2. arbejdsbelastning:</td>
                <td bgcolor="#cef4ea">
                    <input maxlength="3" size="7" value="180" name="arb2"> Watt
                </td>
            </tr>
            <tr>
                <td bgcolor="#cef4ea">Puls ved 2. arbejdsbelastning:</td>
                <td bgcolor="#cef4ea">
                    <input maxlength="3" size="7" value="150" name="puls2"> Slag/min
                </td>
            </tr>
            <tr>
                <td bgcolor="#d8e4f8">Alder:</td>
                <td bgcolor="#d8e4f8">
                    <input maxlength="3" size="7" value="40" name="alder">År
                </td>
            </tr>
            <tr>
                <td bgcolor="#d8e4f8">Vægt</td>
                <td bgcolor="#d8e4f8">
                    <input maxlength="5" size="7" value="70" name="vaegt"> Kg
                </td>
            </tr>
            <tr>
                <td bgcolor="#34557a">Maximal iltoptagelse</td>
                <td bgcolor="#34557a">
                    <input maxlength="5" size="7" name="Iltoptag" disabled="disabled"> l/min
                </td>
            </tr>
            <tr>
                <td bgcolor="#34557a">Kondital</td>
                <td bgcolor="#34557a">
                    <input maxlength="5" size="7" name="Kondital" disabled="disabled"> ml/kg/min
                </td>
            </tr>

            <tr bgcolor="#ffffff">
                <td colspan="2">
                    <input type="button" value="Beregn" name="submit" id="calculate_topunkttest">
                </td>
            </tr>
        </tbody>
    </table>
</form>
