<form class="calculator" id="calculator_age_graded_running">
    <fieldset>
        <div class="form-group">
            <label>Distance</label>
            <select id="distance" required></select>
        </div>
        <div class="form-group">
            <label>Løbetid</label>
            <input name="hours" id="hours" type="number" min="0" max="24" class="input-mini" placeholder="timer">
            <input name="minutes" id="minutes" type="number" min="0" max="59" class="input-mini" placeholder="min">
            <input name="seconds" id="seconds" type="number" min="0" max="59" class="input-mini" placeholder="sek">
        </div>
        <div class="form-group">
            <label>Alder
                <input name="age" id="age" type="number" min="5" max="100" class="input-mini" placeholder="alder" required>
            </label>
        </div>
        <div class="form-group">
            <label>Køn</label>
            <select id="sex">
		        <option value="m" selected="selected">Mand</option>
		        <option value="f">Kvinde</option>
		    </select>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <legend>Resultater</legend>
        <table class="table">
            <tbody>
            <tr>
                <th>Aldergradueret tid:</th>
                <td id="agetime"></td>
            </tr>
            <tr>
                <th>Aldergradueret præstation:</th>
                <td id="ageperformance"></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset class="results">
        <legend>Beregningsgrundlag</legend>
        <table class="table">
            <tbody>
            <tr>
                <th>Aldersfaktor:</th>
                <td id="agefactor"></td>
            </tr>
            <tr>
                <th>Bedste tid på distancen:</th>
                <td id="besttime"></td>
            </tr>
            <tr>
                <th>Bedste aldersbetinget tid på distancen:</th>
                <td id="bestagetime"></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>

<hr>

<h2>Hvordan er din løbetid ift. verdenseliten?</h2>

<p>Du kan finde tabeller for aldersgraduerede tabeller på <a href="http://misweb.cbi.msstate.edu/~rpearson/masters.html">Rodney A. Pearsons hjemmeside</a>.</p>

{% comment %}
https://www.hmrrc.com/members/tools/pace-calculator/age-graded-calculator --> https://www.hmrrc.com/application/themes/hmrrc_theme/js/calculators.js
https://runbundle.com/tools/age-grading-calculator
https://runnersconnect.net/age-grading/
{% endcomment %}

<table class="table" style="width: 100% !important;">
    <caption>Aldersgradueret præstationsniveauer</caption>
    <tbody>
    <tr>
        <td>100%</td>
        <td>Omkring verdensrekord</td>
    </tr>
    <tr>
        <td>&gt; 90%</td>
        <td>Verdensklasse</td>
    </tr>
    <tr>
        <td>&gt; 80%</td>
        <td>National klasse</td>
    </tr>
    <tr>
        <td>&gt; 70%</td>
        <td>Regional klasse</td>
    </tr>
    <tr>
        <td>&gt; 60%</td>
        <td>Lokal klasse</td>
    </tr>
    </tbody>
</table>
