<form class="calculator" id="calculator_jump_cmj">
    <fieldset>
        <legend>Udregning af hoppehøjde baseret på svævetid</legend>
        <div class="form-group">
            <label>Flight time (s)
                <input name="cmj_flight_time" id="cmj_flight_time" type="number" min="0" max="200" step="0.01" placeholder="Flight time (s)" required>
            </label>
        </div>
        <input type="submit" value="Udregn">
    </fieldset>
    <fieldset class="results" disabled>
        <legend>Hoppehøjde udregnet fra svævetid</legend>
        <label>Hoppehøjde (cm)
            <input disabled name="cmj_jump_height" type="text">
        </label>
    </fieldset>
    {% include calculator-footer.html %}
</form>
