<script language="JavaScript">
    function Calculate(thisform) {
        Min = thisform.Min.value;
        Sek = thisform.Sek.value;
        Pul = thisform.Pul.value;
        Koen = thisform.Koen.value;
        Alder = thisform.Alder.value;
        Vaegt = thisform.Vaegt.value;
        Tid = Min * 60 + Sek * 1
        resultat = Math.round((6.9652 + (0.020062 * Vaegt) - (0.0257 * Alder) + (0.5955 * Koen) - (0.003754 * Tid) - (0.0115 * Pul)) * Math.pow(10, 1)) / Math.pow(10, 1)
        resultat2 = Math.round((resultat / Vaegt * 1000) * Math.pow(10, 2)) / Math.pow(10, 2)
        thisform.Iltoptag.value = resultat
        thisform.Konditalk.value = resultat2
        return false;
    }
</script>
<form name="test" onsubmit="return Calculate(this);">
    <table border="0" width="451" cellspacing="1" cellpadding="4" align="center" bgcolor="#990000">
        <tbody>
            <tr bgcolor="#ccffcc">
                <td colspan="2" bgcolor="#ffffff" height="22"><span style="font-size: small;">Indtast tid og pulssamt personlige data.</span></td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    <div align="right"><span style="font-size: small;">Tiden for at gå 1,6 km :</span></div>
                </td>
                <td width="253"><span style="font-size: small;"><input name="Min" size="7" type="text" value="17" /> minutter <input name="Sek" size="7" type="text" value="20" /> sek.</span></td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    <div align="right"><span style="font-size: small;">Pulsefter 1,6 km: </span></div>
                </td>
                <td width="253"><span style="font-size: small;"><input name="Pul" size="7" type="text" value="110" /> slag/min</span></td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    <div align="right"><span style="font-size: small;">Køn:</span></div>
                </td>
                <td width="253"><span style="font-size: small;"><select name="Koen" size="1"><option selected="selected" value="1">Mand</option><option value="0">Kvinde</option></select></span></td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    <div align="right"><span style="font-size: small;">Alder:</span></div>
                </td>
                <td width="253"><span style="font-size: small;"><input name="Alder" size="7" type="text" value="40" /> år</span></td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179">
                    <div align="right"><span style="font-size: small;">Vægt</span></div>
                </td>
                <td width="253"><span style="font-size: small;"><input name="Vaegt" size="7" type="text" value="70" /> kg</span></td>
            </tr>
            <tr bgcolor="#f3f3eb">
                <td width="179"></td>
                <td width="253"><span style="font-size: small;"><input name="submit" type="submit" value="Beregn" /></span></td>
            </tr>
            <tr bgcolor="#990000">
                <td bgcolor="#648cb4" width="179">
                    <div align="right"><span style="color: #ffffff; font-size: small;"><b>Iltoptagelse</b></span></div>
                </td>
                <td bgcolor="#648cb4" width="253"><span style="font-size: small;"><input maxlength="5" name="Iltoptag" size="7" type="text" /><span style="color: #ffffff;"><b>l/min </b></span></span>
                </td>
            </tr>
            <tr bgcolor="#990000">
                <td bgcolor="#648cb4" width="179">
                    <div align="right"><span style="color: #ffffff; font-size: small;"><b>Kondital</b></span></div>
                </td>
                <td bgcolor="#648cb4" width="253"><span style="font-size: small;"><input maxlength="5" name="Konditalk" size="7" type="text" /><b><span style="color: #ffffff;">ml/kg/min</span></b>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</form>