{% assign body_weight = include.body_weight | default: 68 %}
{% assign height = include.height | default: 178 %}
<form class="calculator" id="calculator_bsa">
    <fieldset>
        <legend>Udregning af overfladeareal (body surface area) for et menneske.</legend>
        <div class="form-group">
            <label>Formel for udregning af BSA
            <select name="bsa-formula">
                <option value="mosteller">Mosteller</option>
                <option value="dubois">Du Bois</option>
                <option value="fujimoto">Fujimoto</option>
                <option value="haycock">Haycock</option>
                <option value="gehanandgeorge">Gehan & George</option>
            </select>
            </label>
        </div>
        <!--
        <div class="form-group">
            <label>Køn
            <select name="gender">
                <option value="male" selected>Mand</option>
                <option value="female">Kvinde</option>
            </select>
            </label>
        </div>
        -->
        <div class="form-group">
            <label>Vægt (kg)
                <input type="number" min="10" max="200" placeholder="fx {{ body_weight }}" value="{{ body_weight }}" name="bsa_weight" id="bsa_weight" step="0.1" required>
            </label>
        </div>
        <div class="form-group">
            <label>Højde (cm)
                <input type="number" min="100" max="200" placeholder="fx {{ height }}" value="{{ height }}" name="bsa_height" id="bsa_height" step="1" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Body Surface Area (m<sup>2</sup>)
                <input name="bsa" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator-footer.html %}
</form>
