<form class="calculator" id="calculator_cooper_test">
    <fieldset>
        <legend>Cooper 12 minutter. Indtast de målte værdier</legend>
        <div class="form-group">
            <label>Distance (m)
                <input type="number" min="500" max="6000" id="distance" placeholder="Distance i m" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Kondital (ml/kg/min)
                <input type="text" id="kondital" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator-footer.html %}
</form>
