<form class="calculator" id="calculator_velocity_speedlight_advanced">
    <fieldset>
        <legend>Beregn hastighed (km/t og m/s) fra distance og tid</legend>
        <table>
            <tr>
                <th>Split</th>
                <th>Distance (m)</th>
                <th>Tid (sek:hdrdele)</th>
                <th>km/t</th>
                <th>m/s</th>
            </tr>
            <tr>
                <td>
                    #1
                </td>
                <td>
                    <input type="number" value="5" name="distance_1" placeholder="m" step="0.1" class="input-mini" required>
                </td>
                <td>
                    <input type="number" placeholder="sec" name="sec_1" min="0" max="59" class="input-mini">:<input type="number" placeholder="hd" name="hundrededele_1" min="0" max="99" class="input-mini">
                </td>
                <td>
                    <input type="text" id="velocity_kmt_1" name="velocity_km1_1" disabled class="input-small">
                </td>
                <td>
                    <input type="text" id="velocity_ms_1" name="velocity_ms_1" disabled class="input-small">
                </td>
            </tr>
            <tr>
                <td>
                    #2
                </td>
                <td>
                    <input type="number" value="10" name="distance_2" placeholder="m" step="0.1" class="input-mini" required>
                </td>
                <td>
                    <input type="number" placeholder="sec" name="sec_2" min="0" max="59" class="input-mini">:<input type="number" placeholder="hd" name="hundrededele_2" min="0" max="99" class="input-mini">
                </td>
                <td>
                    <input type="text" id="velocity_kmt_2" name="velocity_kmt_2" disabled class="input-small">
                </td>
                <td>
                    <input type="text" id="velocity_ms_2" name="velocity_ms_2" disabled class="input-small">
                </td>
            </tr>
            <tr>
                <td>
                    #3
                </td>
                <td>
                    <input type="number" value="25" name="distance_3" placeholder="m" step="0.1" class="input-mini" required>
                </td>
                <td>
                    <input type="number" placeholder="sec" name="sec_3" min="0" max="59" class="input-mini">:<input type="number" placeholder="hd" name="hundrededele_3" min="0" max="99" class="input-mini">
                </td>
                <td>
                    <input type="text" id="velocity_kmt_3" name="velocity_kmt_3" disabled class="input-small">
                </td>
                <td>
                    <input type="text" id="velocity_ms_3" name="velocity_ms_3" disabled class="input-small">
                </td>
            </tr>
            <tr>
                <td>
                    #4
                </td>
                <td>
                    <input type="number" value="30" name="distance_4" placeholder="m" step="0.1" class="input-mini" required>
                </td>
                <td>
                    <input type="number" placeholder="sec" name="sec_4" min="0" max="59" class="input-mini">:<input type="number" placeholder="hd" name="hundrededele_4" min="0" max="99" class="input-mini">
                </td>
                <td>
                    <input type="text" id="velocity_kmt_4" name="velocity_kmt_4" disabled class="input-small">
                </td>
                <td>
                    <input type="text" id="velocity_ms_4" name="velocity_ms_4" disabled class="input-small">
                </td>
            </tr>
        </table>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <legend>Udregning af hastighed for hele distancen</legend>
        <div class="form-group">
            <label>Hastighed (km/t)</label>
            <input type="text" id="velocity_kmt_advanced" name="velocity_kmt_advanced" disabled class="input-small">
        </div>
        <div class="form-group">
            <label>Hastighed (m/s)</label>
            <input type="text" id="velocity_ms_advanced" name="velocity_ms_advanced" disabled class="input-small">
        </div>
    </fieldset>
    {% include calculator-footer.html %}
</form>
