<form class="calculator" id="calculator_bmi">
    <fieldset>
        <legend>Udregning af BMI. Indtast værdier</legend>
        <fieldset>
            <legend>Køn</legend>
            <label class="radio">
                <input type="radio" name="gender" value="male" checked="checked" required> Mand
            </label>
    		<label class="radio">
    		    <input type="radio" name="gender" value="female"> Kvinde
    		</label>
        </fieldset>
        <div class="form-group">
            <label>Højde (cm)
                <input name="height" type="number" min="50" max="272" placeholder="Højde i cm" step="0.1" required>
            </label>
        </div>
        <div class="form-group">
            <label>Vægt (kg)
                <input name="weight" type="number" min="20" max="200" placeholder="Vægt i kg" step="0.1" required>
            </label>
        </div>
        <div class="form-group">
            <label>Alder (år)
                <input name="age" type="number" min="1" max="130" placeholder="Alder i år" step="0.5" required>
            </label>
        </div>
        <input type="submit" value="Udregn">
    </fieldset>
    <fieldset class="results">
        <legend>Resultater</legend>
        <label>Body mass index (BMI)
            <input disabled name="BMI" type="text">
        </label>
        <div class="form-group">
            <label>Vurderingskriterium
                <select name="type">
                    <option value="who">WHO</option>
                    <option value="nhanes" selected>NHANES II</option>
                </select>
            </label>
        </div>
        <label class="meter-label">Vurdering
            <meter disabled value="" min="" max="" low="" optimum="" high="" id="meter-bmi"></meter>
            <span id="meter-text" class="meter-overlay-text"></span>
        </label>
        <label>Vurdering
            <meter value="20" min="15" max="40" optimum="25" low="20" high="30">Vurdering af BMI</meter>
        </label>
    </fieldset>
    {% include calculator-footer.html %}
</form>
