<form class="calculator" id="calculator_convert_minkm_kmt_velocity">
    <fieldset>
        <legend>Konverter hastighed fra min/km til km/t</legend>
        <div class="form-group">
            <label>Hastighed (min/km)</label>
            <input type="number" placeholder="min" name="minkm_kmt_min" min="0" max="10" class="input-mini"> <span class="help-inline">min</span>
            <input type="number" placeholder="sec" name="minkm_kmt_sec" min="0" max="60" class="input-mini"> <span class="help-inline">sek</span>
        </div>
        <input type="submit" value="Beregn km/t">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Hastighed (km/t)</label>
            <input type="text" id="velocity_convert_kmt" disabled class="input-mini">
        </div>
    </fieldset>
</form>
