<form class="calculator full" id="calculator_ftp">
    <fieldset>
        <legend>Udregning af FTP</legend>
        <div class="form-group">
            <label>FTP (watt)
                <input type="number" name="ftp" id="ftp" value="285" min="0" max="1000">
            </label>
            <input type="submit" value="Beregn">
        </div>
    </fieldset>
    <fieldset class="results">
<table id="ftp-table" width="100&">
    <caption>Watt-zoner baseret på FTP</caption>
    <thead>
      <tr>
        <th>Zone</th>
        <th>Formål</th>
        <th>% af FTP</th>
        <th>Watt (FTP: <span id="ftp_value">285</span>)</th>
        <th>Tid i zonen / intervaller</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Restitution</td>
        <td>&lt;55%</td>
        <td><input type="text" disabled id="ftp_recovery" value="&lt; 157"></td>
        <td>Uendelig</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Udholdenhed</td>
        <td>56-75%</td>
        <td><input type="text" disabled id="ftp_endurance" value="158-214"></td>
        <td>2-8 timer</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Moderat tempo</td>
        <td>76-90%</td>
        <td><input type="text" disabled id="ftp_tempo" value="215-256"></td>
        <td>30 min-3 timer</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Anaerobe tærskel</td>
        <td>91-105%</td>
        <td><input type="text" disabled id="ftp_ftp" value="257-300"></td>
        <td>8-30 min</td>
      </tr>
      <tr>
        <td>5</td>
        <td>VO<sub>2</sub>max</td>
        <td>106-120%</td>
        <td><input type="text" disabled id="ftp_vo2" value="301-342"></td>
        <td>3-8 min</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Anaerob</td>
        <td>121-150%</td>
        <td><input type="text" disabled id="ftp_anaerob" value="343-428"></td>
        <td>30 sek-2 min</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Sprint Power</td>
        <td>Max!</td>
        <td>Max!</td>
        <td>5-20 sek</td>
      </tr>
    </tbody>
  </table>
  </fieldset>
</form>
