{% assign bones = site.data.knogler %}

<table class="table">
    <thead>
    <tr>
      <th>Dansk</th>
      <th>Latin</th>
      <th>Engelsk</th>
    </tr>
    </thead>
  {% for row in bones %}
    {% if forloop.length == 1 %}
    <tbody>
    {% endif %}
      <tr>
        <td>{{ row.Danish }}</td>
        <td>{{ row.Latin }}</td>
        <td>{{ row.English }}</td>
      </tr>
    {% if forloop.last %}
    {% endif %}
  {% endfor %}
</table>

<p>Hvis du vil hjælpe med at opdatere navnene i tabellen, så anmod om adgang til dette [regneark over knoglerne](https://docs.google.com/spreadsheets/d/1gMVjEKJNvzHKxB3q3kx8wElP7nAs1nt3p7KO8kkeykA/edit?usp=sharing).</p>
