<form class="calculator full" id="calculator_ftpa">
    <fieldset>
        <legend>Udregning af FTPa</legend>
        <div class="form-group">
            <label>FTPa (sekunder/km)
                <input type="number" name="ftpa" id="ftpa" value="240" min="0" max="1000">
            </label>
            <input type="submit" value="Beregn">
        </div>
    </fieldset>
    <fieldset class="results">
<table id="ftp-table">
    <caption>Hastighedszoner baseret på FTPa</caption>
    <thead>
      <tr>
        <th>Zone</th>
        <th>Formål</th>
        <th>% af FTP</th>
        <th>Tid (FTPa: <span id="ftpa_value">240</span>)</th>
        <th>Tid i zonen / intervaller</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Restitution</td>
        <td>&lt;129%</td>
        <td><input type="text" disabled id="ftpa_recovery" value=""></td>
        <td>Uendelig</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Udholdenhed</td>
        <td>114–129%</td>
        <td><input type="text" disabled id="ftpa_endurance" value=""></td>
        <td>2-8 timer</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Moderat tempo</td>
        <td>106–113%</td>
        <td><input type="text" disabled id="ftpa_tempo" value=""></td>
        <td>30 min-3 timer</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Anaerobe tærskel</td>
        <td>101–105%</td>
        <td><input type="text" disabled id="ftpa_ftp" value=""></td>
        <td>8-30 min</td>
      </tr>
      <tr>
        <td>5</td>
        <td>VO<sub>2</sub>max</td>
        <td>97–100%</td>
        <td><input type="text" disabled id="ftpa_vo2" value=""></td>
        <td>3-8 min</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Anaerob</td>
        <td>90–96%</td>
        <td><input type="text" disabled id="ftpa_anaerob" value=""></td>
        <td>30 sek-2 min</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Sprint Power</td>
        <td>Max!</td>
        <td>Max!</td>
        <td>5-20 sek</td>
      </tr>
    </tbody>
  </table>
  </fieldset>
</form>
