---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "signup";
@import "calculator";
@import "pyramid";
@import "flip-card";
@import "youtube";
@import "star-rating";

.sidebar {
  position: relative;
  &.sticky {
    overflow-y: auto;
    /* calculate height of nav list
       viewport height - nav height - masthead x-padding
    */
    max-height: 100%;
  }
}

/* Extra possibilities for the gallery */
figure {
  &.quarter {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(25% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
  &.fifth {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(20% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

.greedy-nav {
  height: $nav-height;
  max-height: $nav-height;
}

#adBlock, .gsc-adBlock {
  display: none !important;
}

span.strong {
  font-weight: bold;
}

.archive__item-title {
  font-size: 1.5em;
  font-weight: bold;
}

.author__name, .nav__title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.125;
}

.page__share-title, .page__related-title, .page__meta-title {
  font-size: 1.0625em;
  font-weight: 700;
}

a[rel~=sponsored]:after {
  content: "*";
}

.btn[rel~=sponsored] {
  @extend .btn--danger;
}

.btn--bmc {
  background-color:hsl(51, 100%, 50%);
}

.btn--lead {
  @extend .btn;
  @extend .btn--large;
  @extend .btn--danger;
}

body.layout--single {
    .feature__item--left, .feature__item--right {
        h2.archive__item-title {
            margin-top: 1em !important;
            margin-bottom: 0em !important;
            font-size: 0.9em !important;
        }
        .archive__item-excerpt p:first {
            margin-top: 0em !important;
        }
    }
}
/*
form.newsletter {
  fieldset, legend {
    margin: 0;
    padding: 0;
  }
  fieldset {
      padding: 1em !important;
      background-color: hsl(51, 86%, 52%);

      legend {
        font-weight: bold;
          float: left;
          margin-bottom: .5em;
          width: 100%;
      }
  }
  input[type="submit"] {
      @extend .btn;
      @extend .btn--large;
      @extend .btn--danger;
  }
}
*/

#anatomy_muscle {
    position: relative;
    width: 100%;

    .anatomy-popup {
        display: none;
    }

    .anatomy-popup-on {
	    display: block !important;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #333;
        padding: 0.5em 1em;
        color: #fff;

        p {
            font-size: 0.7em;
            margin: 0;
            text-align: center;
        }
    }
}

/* Grid view */
.layout--single:not(.wide) .page__content .grid__item, .layout--activity:not(.wide) .page__content .grid__item {

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(4 of 12);

    &:nth-child(3n + 1) {
      margin-left: 0;
      clear: both;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }
}
