{% assign bsa = include.bsa | default: "1,8336" %}
<form class="calculator" id="calculator_conduction">
    <fieldset>
        <legend>Varmetab til konduktion</legend>
        <div class="form-group">
            <label>Overfladeareal (m<sup>2</sup>) - BSA
                <input type="number" min="0" max="10" placeholder="fx {{ bsa }}" name="conduction_bsa" id="conduction_bsa" step="0.000001" required>
            </label>
        </div>
        <div class="form-group">
            <label>Hudtemperatur (°C)
                <input type="number" min="20" max="50" placeholder="fx 37" name="conduction_skin_temperature" id="conduction_skin_temperature" step="0.01" required>
            </label>
        </div>
        <div class="form-group">
            <label>Lufttemperatur (°C)
                <input type="number" min="20" max="50" placeholder="fx 31" name="conduction_air_temperature" id="conduction_air_temperature" step="0.01" required>
            </label>
        </div>
        <div class="form-group">
            <label>d - Tykkelsen på barrieren (cm)
                <input type="number" min="0.01" max="30" placeholder="fx 5" name="conduction_d" id="conduction_d" value="5" step="0.01" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Varmetab til konduktion (watts)
                <input name="heatloss_conduction" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
