{% assign met_type = include.type | default: "" %}

{% if met_type contains "walking" %}
  {% assign met_values = site.data.met | where_exp: "item", "item.Group contains met_type" | sort: "MET" %}
{% else %}
  {% assign met_values = site.data.met %}
{% endif %}

<form class="calculator">
    <fieldset>
        <legend>Beregn MET-timer. Indtast værdierne.</legend>
        <div class="form-group">
            <label for="weight">Vægt (kg)</label>
            <input name="weight" id="weight" type="number" min="20" max="200" placeholder="Vægt i kg" step="0.1" required>
        </div>
        <div class="form-group">
            <label for="answers">Aktivitet (MET)</label>
            <input list="answers" name="answer" placeholder="Vælg aktivitet" id="answerInput">
            <datalist id="answers">
                {% for row in met_values offset:2 %}
                <option value="{{ row.Activity }}" data-met="{{ row.MET }}">{{ row.Activity }}</option>
                {% endfor %}
              </datalist>
            <input type="hidden" name="answer" id="answerInput-hidden">
        </div>
        <div class="form-group">
            <label for="time">Tid (timer)</label>
            <input name="time" id="time" type="number" min="0" max="24" placeholder="Timer" step="0.1" required>
        </div>
        <input type="submit" value="Beregn" onclick="return calculateMET();">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>MET-timer
                <input type="number" id="met_hours" disabled>
            </label>
        </div>
        <div class="form-group">
            <label>Kalorier (kcal)
                <input type="number" id="kcal" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>

<script>
    document.querySelector('#answerInput').addEventListener('input', function (e) {
    var input = e.target;
    var list = document.querySelector('#answers');
    var options = list.getElementsByTagName('option');
    var hiddenInput = document.getElementById('answerInput-hidden');
    
    hiddenInput.value = ''; // Reset hidden input

    for (var i = 0; i < options.length; i++) {
        if (options[i].value === input.value) {
            hiddenInput.value = options[i].getAttribute('data-met'); // Set MET value
            break;
        }
    }
});

function calculateMET() {
    var met = $("#answerInput-hidden").val();
    var weight = $("#weight").val();
    var time = $("#time").val();

    if (!met || !weight || !time) {
        alert("Please select an activity and fill in all fields.");
        return false;
    }

    $("#kcal").val(met * weight * time);
    $("#met_hours").val(met * time);
    return false;
}
</script>
