<form class="calculator" id="calculator_energy_expenditure">
    <fieldset>
        <legend>Energiforbrug baseret på VO₂ og R-værdien</legend>
        <div class="form-group">
            <label>Formel for energiforbrug
            <select name="ee-rer-formula">
                <option value="lusk">Lusk</option>
                <option value="garby">Garby</option>
            </select>
            </label>
        </div>
        <div class="form-group">
            <label>VO₂ (L/min)
                <input type="number" min="0" max="5" placeholder="fx 1,89" value="1.89" name="vo2" id="vo2" step="0.001" required>
            </label>
        </div>
        <div class="form-group">
            <label>R-værdi
                <input type="number" min="0" max="2" placeholder="fx 0,90" value="0.90" name="r" id="r" step="0.01" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Energiforbrug (J/s)
                <input name="energy_expenditure" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
