<form id="smolov_jr" class="calculator">
  <fieldset>
    <legend>Nuværende niveau</legend>
    <label>One Rep Max
        <input id="one_rep_max" type="number" min="50" max="1000" step="1">
    </label>
    <input type="submit" value="Beregn">
  </fieldset>
  <fieldset class="results">
  <legend>Uge 1</legend>
  <table class="table" id="smolov_jr_week_1">
    <thead>
      <tr>
        <th>Dag</th>
        <th>Intensitet</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Vægt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mandag</td>
        <td>70%</td>
        <td>6</td>
        <td>6</td>
        <td></td>
      </tr>
      <tr>
        <td>Onsdag</td>
        <td>75%</td>
        <td>7</td>
        <td>5</td>
        <td></td>
      </tr>
      <tr>
        <td>Fredag</td>
        <td>80%</td>
        <td>8</td>
        <td>4</td>
        <td></td>
      </tr>
      <tr>
        <td>Lørdag</td>
        <td>85%</td>
        <td>10</td>
        <td>3</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </fieldset>
  <fieldset>
  <label>Stigning til 2. uge (kg)
    <input id="increment_1" class="input-small" step="0.5" type="number" value="5" min="0" max="20" />
  </label>
  </fieldset>
  <fieldset class="results">
  <legend>Uge 2</legend>
  <table class="table" id="smolov_jr_week_2">
    <thead>
      <tr>
        <th>Dag</th>
        <th>Intensitet</th>
        <th>+ kg</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Vægt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mandag</td>
        <td>70%</td>
        <td>+5 kg</td>
        <td>6</td>
        <td>6</td>
        <td></td>
      </tr>
      <tr>
        <td>Onsdag</td>
        <td>75%</td>
        <td>+5 kg</td>
        <td>7</td>
        <td>5</td>
        <td></td>
      </tr>
      <tr>
        <td>Fredag</td>
        <td>80%</td>
        <td>+5 kg</td>
        <td>8</td>
        <td>4</td>
        <td></td>
      </tr>
      <tr>
        <td>Lørdag</td>
        <td>85%</td>
        <td>+5 kg</td>
        <td>10</td>
        <td>3</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </fieldset>
  <fieldset>
  <label>Stigning til 3. uge (kg)
    <input id="increment_2" class="input-small" step="0.5" type="number" value="2.5" min="0" max="20" />
  </label>
  </fieldset>
  <fieldset class="results">
  <legend>Uge 3</legend>
  <table class="table" id="smolov_jr_week_3">
    <thead>
      <tr>
        <th>Dag</th>
        <th>Intensitet</th>
        <th>+ kg</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Vægt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mandag</td>
        <td>70%</td>
        <td>+2,5 kg</td>
        <td>6</td>
        <td>6</td>
        <td></td>
      </tr>
      <tr>
        <td>Onsdag</td>
        <td>75%</td>
        <td>+2,5 kg</td>
        <td>7</td>
        <td>5</td>
        <td></td>
      </tr>
      <tr>
        <td>Fredag</td>
        <td>80%</td>
        <td>+2,5 kg</td>
        <td>8</td>
        <td>4</td>
        <td></td>
      </tr>
      <tr>
        <td>Lørdag</td>
        <td>85%</td>
        <td>+2,5 kg</td>
        <td>10</td>
        <td>3</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </fieldset>
</form>
