{% assign unit = include.unit | default: "km/t" %}
{% assign module = include.module | default: "running" %}
<form class="calculator" id="calculator_vmax_{{ module }}_intervals">
    <fieldset>
        <legend>Beregning af intervaller - indtast V<sub>max</sub> og T<sub>max</sub></legend>
        <div class="form-group">
            <label for="{{ module }}_vmax_program">V<sub>max</sub> ({{ unit }})</label>
            <input type="number" min="0" max="1500" name="{{ module }}_vmax_program" id="{{ module }}_vmax_program" required>
        </div>
        <div class="form-group">
            <label>T<sub>max</sub> (min:sek)</label>
            <input type="number" name="{{ module }}_tmax_min" min="0" max="10" class="input-mini"> <span class="help-inline">min</span>
            <input type="number" name="{{ module }}_tmax_sec" min="0" max="60" class="input-mini"> <span class="help-inline">sek</span>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <legend>Opvarmning</legend>
        <div class="form-group form-inline">
            <label>2x5 minutter</label>
            <input type="number" min="0" max="100" name="{{ module }}_warmup_percentage" id="{{ module }}_warmup_percentage" class="input-mini" value="60"> <span class="help-inline"> % af V<sub>max</sub></span>
            <input type="text" name="{{ module }}_warmup_velocity" disabled class="input-small"> <span class="help-inline">{{ unit }}</span>
        </div>
    </fieldset>
    <fieldset class="results">
        <legend>Intervaller x 4-6</legend>
        <div class="form-group">
            <label id="vmax">Interval-intensitet er V<sub>max</sub> ({{ unit }})</label>
            <input type="text" name="{{ module }}_vmax_program_value" id="{{ module }}_vmax_program_value" disabled>
        </div>
        <div class="form-group form-inline">
            <label>Interval-tid (min:sek)</label>
            <input type="number" name="{{ module }}_tmax_percentage" class="input-mini" value="60"> <label class="help-inline">% procent af T<sub>max</sub></label>
            <input type="text" name="{{ module }}_time_program_time" disabled class="input-small">
        </div>
    </fieldset>
    <fieldset class="results">
        <legend>Pauser</legend>
        <div class="form-group form-inline">
            <label for="{{ module }}_pause_velocity">Pause-intensitet ({{ unit }})</label>
            <input type="number" name="{{ module }}_vmax_pause_percentage" class="input-mini" value="30"> <label class="help-inline">% af V<sub>max</sub></label>
            <input type="text" name="{{ module }}_pause_velocity" id="{{ module }}_pause_velocity" disabled>
        </div>
        <div class="form-group form-inline">
            <label>Pause-tid (min:sek)</label>
            <input type="number" name="{{ module }}_tmax_pause_percentage" class="input-mini" value="30"> <label class="help-inline">% af T<sub>max</sub></label>
            <input type="text" name="{{ module }}_time_pause" disabled class="input-small">
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
