{% include figure image_path="https://miro.medium.com/max/2250/1*dMsWX5cS4CLkKnVAyYPn5A.png" caption="Kilde: [www.estimatebodyfat.com](https://www.estimatebodyfat.com/caliper-calculator.html)" alt="Durnin and Womersley 4-site skinfold test" %}
{% include figure image_path="https://miro.medium.com/max/2250/1*_FXK5XcWvuWv0g-aZD-6fQ.png" caption="Kilde: [www.estimatebodyfat.com](https://www.estimatebodyfat.com/caliper-calculator.html)" alt="Durnin and Womersley 4-site skinfold test" %}

<form class="calculator" id="calculator_skinfold_durnin">
    <fieldset>
        <legend>Durnin & Womersley 4-site skinfold måling af fedtprocent. Indtast de målte værdier.</legend>
        <div class="form-group">
            <label>Biceps (mm)
                <input type="number" name="biceps" min="0" max="100" step="0.1" placeholder="Biceps (mm)" required>
            </label>
        </div>
        <div class="form-group">
            <label for="triceps">Triceps (mm)
                <input type="number" name="triceps" min="0" max="100" step="0.1" placeholder="Triceps (mm)" required>
            </label>
        </div>
        <div class="form-group">
            <label for="subscapularis">Skulderblad - subscapularis (mm)
                <input type="number" name="subscapularis" min="0" max="100" step="0.1" placeholder="Subscapularis (mm)" required>
            </label>
        </div>
        <div class="form-group">
            <label for="suprailiac">Hoftekam - suprailiac (mm)
                <input type="number" name="suprailiac" min="0" max="100" step="0.1" placeholder="Suprailiac (mm)" required>
            </label>
        </div>
        <div class="form-group">
            <label>Køn
            <select name="gender">
                <option value="male">Mand</option>
                <option value="female">Kvinde</option>
            </select>
            </label>
        </div>
        <div class="form-group">
            <label>Vægt (kg)
                <input type="number" name="weight" min="10" max="200" step="0.1" required>
            </label>
        </div>
        <div class="form-group">
            <label for="age">Alder (år)
                <input type="number" name="age" min="10" max="100" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Hudfoldstykkelse (mm)
                <input type="text" name="skinfold_durnin" disabled>
            </label>
        </div>
        <div class="form-group">
            <label>Fedtprocent (%)
                <input type="text" name="fatpercent_durnin" disabled>
            </label>
        </div>
        <div class="form-group">
            <label>Fedtfri masse (kg)
                <input type="text" name="ffm_durnin" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
