<form class="calculator" id="calculator_fat_percent">
    <fieldset>
        <legend>Udregning af fedtprocent. Indtast alder, højde og vægt.</legend>
        <fieldset>
            <legend>Køn</legend>
            <label class="radio">
                <input name="sex" type="radio" value="man" required> Mand
            </label>
            <label class="radio">
                <input name="sex" type="radio" value="woman"> Kvinde
            </label>
        </fieldset>
        <div class="form-group">
            <label>Alder (år)
                <input name="age" type="number" min="10" max="100" placeholder="Alder i år" required>
            </label>
        </div>
        <div class="form-group">
            <label>Højde (cm)
                <input name="height" type="number" min="100" max="272" placeholder="Højde i cm" step="0.1" required>
            </label>
        </div>
        <div class="form-group">
            <label>Vægt (kg)
                <input name="weight" type="number" min="30" max="200" placeholder="Vægt i kg" step="0.1" required>
            </label>
        </div>
        <input type="submit" value="Udregn">
    </fieldset>
    <fieldset class="results">
        <legend>Fedtprocent udregnet med forskellige formler</legend>
        <label>Fedtprocent (Durnin & Womersley 1977)
            <input disabled name="fat_percent_durnin" type="text">
        </label>
        <label>Fedtprocent (Jackson & Pollock 1990)
            <input disabled name="fat_percent_jackson_pollock" type="text">
        </label>
        <label>Fedtprocent (Heitmann 1990)
            <input disabled name="fat_percent_heitmann" type="text">
        </label>
        <label>Fedtprocent (Duerenberg 1991)
            <input disabled name="fat_percent_duerenberg" type="text">
        </label>
        <label>Fedtprocent (Duerenberg 1998)
            <input disabled name="fat_percent_duerenberg_1998" type="text">
        </label>
        <label>Fedtprocent (Gallagher 2000)
            <input disabled name="fat_percent_gallagher" type="text">
        </label>
        <label>Fedtprocent (Heritage 2002)
            <input disabled name="fat_percent_heritage_2002" type="text">
        </label>
        <label>Body mass index (BMI)
            <input disabled name="BMI" id="BMI" type="text">
        </label>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
