<form class="calculator" id="calculator_kj_kcal">
    <fieldset>
        <legend>Omregner fra kJ til kcal</legend>
        <div class="form-group">
            <label>KiloJoule (kJ)
                <input type="number" min="0" max="1000000" placeholder="fx 24" name="kj_kcal_kj" required step="0.001">
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Kilokalorier (kcal)
                <input name="kj_kcal_kcal" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
