{% assign id = include.id | default: "calculator_bmr_ffm" %}
{% assign legend = include.legend | default: "Anbefalet formel" %}
<form class="calculator" id="{{ id }}">
    <fieldset>
        <legend>Udregning af hvilestofskifte og dagligt energibehov.</legend>
        <div class="form-group">
            <label>Formel for udregning af hvilestofskifte
            <select name="bmr-formula" id="bmr-formula">
                <option value="recommended_formula">Anbefalet formel</option>
                <option value="cunningham">Cunningham (1991)</option>
                <option value="nordic_nutrition_2012">Nordic Nutrition Recommendations (1996)</option>
            </select>
            </label>
        </div>
        <div class="form-group">
            <label>Vægt (kg)
                <input type="number" min="10" max="200" placeholder="fx 70" name="weight" id="weight" step="0.1" required>
            </label>
        </div>

        <div class="form-group">
            <label>Fedtprocent (%)
                <input type="number" min="3" max="100" placeholder="fx 18" name="fat_percent" id="fat_percent" step="0.1" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Hvilestofskifte (BMR) (kJ)
                <input name="bmr" id="bmr" disabled>
            </label>
            <p class="help-block">Baseret på <em id="bmr_legend">{{ legend }}</em></p>
        </div>
        <div class="form-group">
            <label>Fat Free Mass (FFM) (kg)
                <input name="ffm" id="ffm" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
