<form class="calculator" id="calculator_walktest_16km">
    <fieldset>
        <legend>1,6 km gåtest. Indtast værdier.</legend>
        <div class="form-group">
            <label for="form-formula">Anvend følgende formel</label>
            <select name="walktest-formula" id="walktest-formula">
                <option value="kline">Kline (1987) (mest udbredte)</option>
                <option value="lunt">Lunt (2013) - 18-39 årige</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Tiden for at gå 1,6 km</label>
            <input name="min" type="number" min="5" max="60" placeholder="fx 17" class="input-mini" required> <span class="help-inline">min</span>
            <input name="sec" type="number" min="0" max="60"  placeholder="fx 20" class="input-mini" required> <span class="help-inline">sek</span>
        </div>
        <div class="form-group">
            <label>Pulsefter 1,6 km (slag/min)
                <input name="hr_after" type="number" min="60" max="200" placeholder="fx 110" required>
            </label>
        </div>
        <div class="form-group">
            <label>Køn
                <select name="gender">
                    <option value="male">Mand</option>
                    <option value="female">Kvinde</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>Alder (år)
                <input name="age" type="number" min="10" max="110" placeholder="fx 40" required>
            </label>
        </div>
        <div class="form-group">
            <label>Vægt (kg)
                <input name="weight" type="number" min="20" max="200" placeholder="fx 70" step="0.1" required>
            </label>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-row">
            <label>Iltoptagelse (l/min)
                <input name="vo2max" type="text" disabled>
            </label>
        </div>
        <div class="form-group">
            <label>Kondital (ml/kg/min)
                <input name="kondital" type="text" disabled>
            </label>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
