<form class="calculator" id="calculator_6sek_sdec">
    <fieldset>
        <fieldset>
            <legend>Er du bekymret for, at du har mistet kontrollen over, hvor meget du spiser?</legend>
            <label class="radio inline">
                <input name="6sek_type" type="radio" value="biking" checked> Cykling
            </label>
            <label class="radio inline">
                <input name="6sek_type" type="radio" value="running" required> Løb
            </label>
        </fieldset>
        <legend>Udregning af fatigue index (FI)</legend>
        <div class="form-group">
            <label>1. forsøg
                <input name="6sek_1" type="number" min="0" step="0.01" max="10000" placeholder="" required>
            </label>
        </div>
        <div class="form-group">
            <label>2. forsøg
                <input name="6sek_2" type="number" min="0" step="0.01" max="10000" placeholder="" required>
            </label>
        </div>
        <div class="form-group">
            <label>3. forsøg
                <input name="6sek_3" type="number" min="0" step="0.01" max="10000" placeholder="" required>
            </label>
        </div>
        <div class="form-group">
            <label>4. forsøg
                <input name="6sek_4" type="number" min="0" step="0.01" max="10000" placeholder="" required>
            </label>
        </div>
        <div class="form-group">
            <label>5. forsøg
                <input name="6sek_5" type="number" min="0" step="0.01" max="10000" placeholder="" required>
            </label>
        </div>
        <input type="submit" value="Udregn">
    </fieldset>
    <fieldset class="results" disabled>
        <legend>Resultat</legend>
        <label>Percentage decrement score (S<sub>dec</sub>)
            <input disabled name="6sek_sdec" type="text">
        </label>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
