{% assign legend = include.legend | default: "Anbefalet formel" %}
<form class="calculator full" id="calculator_bmr_advanced_pal">
    <fieldset>
        <legend>Avanceret udregning af dit stofskifte, energibehov og ligevægtsindtag.</legend>
        <div class="form-group">
            <label>Formel for udregning af hvilestofskifte
            <select name="bmr-formula" id="bmr-formula">
                <option value="recommended_formula">Anbefalet formel</option>
                <option value="benedict_harris">Benedict-Harris (1918-1919)</option>
                <option value="schofield">Schofield Equation (1985)</option>
                <option value="mifflin">Mifflin (1990)</option>
                <option value="henry">Henry (2005)</option>
                <option value="nordic_nutrition_2012">Nordic Nutrition Recommendations (2012)</option>
            </select>
            </label>
        </div>
        <fieldset>
            <legend>Køn</legend>
            <label class="radio">
                <input type="radio" name="sex" value="male" checked="checked" required> Mand
            </label>
    		<label class="radio">
    		    <input type="radio" name="sex" value="female"> Kvinde
    		</label>
        </fieldset>
        <div class="form-group">
            <label for="age">Alder (år)</label>
            <input type="number" min="10" max="100" placeholder="fx 40" name="age" id="age" required>
        </div>
        <div class="form-group">
            <label for="weight">Vægt (kg)</label>
            <input type="number" min="10" max="200" placeholder="fx 70" name="weight" id="weight" step="0.1" required>
        </div>
        <div class="form-group">
            <label for="height">Højde (cm)</label>
            <input type="number" min="10" max="240" placeholder="fx 170" name="height" id="height" step="0.1" required>
        </div>
        <fieldset>
            <legend>Angiv dit daglige fysiske aktivitetsniveau (minutter)</legend>
    <table>
        <tr>
            <td><label for="height">Intens træning</label><br>MET 10</td>
            <td><input type="number" min="0" max="1440" name="activity_intense" id="activity_intense"></td>
            <td>Intensiv idræt. Hurtig løb. Hurtig roning.</td>
        </tr>
        <tr>
            <td><label for="height">Moderat træning</label><br>MET 7</td>
            <td><input type="number" min="0" max="1440" name="activity_moderat" id="activity_moderat"></td>
            <td>Styrketræning. Hugge brænde. De fleste idrætsgrene.</td>
        </tr>
        <tr>
            <td><label for="height">Let aktivitet</label><br>MET 4</td>
            <td><input type="number" min="0" max="1440" name="activity_light" id="activity_light"></td>
            <td>Husarbejde. Havearbejde. Hurtig gang. Golf.</td>
        </tr>
        <tr>
            <td style="white-space:nowrap"><label for="height">Stående & gående</label><br>MET 2</td>
            <td><input type="number" min="00" max="1440" name="activity_standing" id="activity_standing"></td>
            <td>Madlavning. Let gang. Shopping.</td>
        </tr>
        <tr>
            <td><label for="height">Sove</label><br>MET 0,9</td>
            <td><input type="number" min="0" max="1440" value="480" name="activity_sleeping" id="activity_sleeping"></td>
            <td>Fra du ligger i sengen til du står op.</td>
        </tr>
        <tr>
            <td><label for="height">Siddende</label><br>MET 1,2</td>
            <td><input type="number" min="0" max="1440" value="960" name="activity_sitting" id="activity_sitting" disabled></td>
            <td>Den resterende tid anslås som siddende.</td>
        </tr>
    </table>
        </fieldset>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="bmr">Basalstofskifte og hvilestofskifte (BMR) (kJ)
                <input name="bmr" id="bmr" disabled>
            </label>
            <p class="help-block">Baseret på <em id="bmr_legend">{{ legend }}</em></p>
        </div>
        <div class="form-group">
            <label for="pal_gerrior">Physical Activity Level (PAL)</label>
            <input name="pal_gerrior" id="pal_gerrior" disabled>
        </div>
        <div class="form-group">
            <label for="equilibrium">Dagligt stofskifte og forbrænding (kJ)</label>
            <input name="equilibrium" id="equilibrium" disabled>
        </div>
        <div class="form-group">
            <p class="help-block">Hvis du vælger den anbefalede formel til hvilestofskiftet, så vælges den mest passende formel i forhold til alder, køn, vægt og højde. Læs mere om den <a href="/bmr-beregner-hvilestofskifte-basalstofskifte/">teoretiske baggrund for valg af basalstofskifte-formel</a>.</p>
        </div>
    </fieldset>
    {% include calculator/calculator-footer.html %}
</form>
