
<fieldset>
<legend>Stående målinger</legend>

<table>
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Højde (cm)</td>
            <td><input type=""></td>
            <td></td>
        </tr>
        <tr>
            <td>Skulderhøjde (cm)</td>
            <td><input type=""></td>
            <td></td>
        </tr>
        <tr>
            <td>Albuehøjde (cm)</td>
            <td><input type=""></td>
            <td></td>
        </tr>
        <tr>
            <td>Hoftehøjde (cm)</td>
            <td><input type=""></td>
            <td></td>
        </tr>
        <tr>
            <td>Knyttet hånd (cm)</td>
            <td><input type=""></td>
            <td></td>
        </tr>

        <tr>
            <td>Knæhøjde (cm)</td>
            <td><input type=""></td>
            <td></td>
        </tr>
    </tbody>
</table>

</fieldset>
<fieldset>
    <legend>Arm og skulder</legend>
    
    <table>
        <thead>
            <tr>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Skulderbredde (cm)</td>
                <td><input type=""></td>
                <td></td>
            </tr>
            <tr>
                <td>Skulder til albue (cm)</td>
                <td><input type=""></td>
                <td></td>
            </tr>
            <tr>
                <td>Hoftehøjde (cm)</td>
                <td><input type=""></td>
                <td></td>
            </tr>
            <tr>
                <td>Knæhøjde (cm)</td>
                <td><input type=""></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
    </fieldset>